//bg
$bg-main: linear-gradient(
  98.89deg,
  rgba(46, 172, 238, 0.7)50.77%,
  rgba(0, 22, 218, 0.7) 99.59%,
);

//text

$txt-white: white;
$txt-black: #999;

// color
$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);

//container
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

//transition: 
$transition: all 0.4s ease;
